# Основные зависимости  
questionary==1.10.0      # Интерактивные вопросы (основа)  
Jinja2==3.1.2           # Шаблонизация лицензий  
PyYAML==6.0             # Чтение YAML-пресетов  
click==8.1.7            # Аргументы CLI (удобный парсинг)  

# Для красивого интерфейса  
colorama==0.4.6         # Раскрашивание текста в консоли  
rich==13.7.0            # Красивые таблицы, прогресс-бары
halo==0.0.31            # Спиннеры для долгих операций  

pytest==8.0.0           # Тесты  